@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, GitHub stalkers! (from the view)
        <p>
            <h1>I'm getting married in Halo 3 and you're invited.<br /></h1>
        </p>
        <a asp-action="RSVP">RSVP before you get splattered by a ghost, the respawn time is set to 30 seconds in this mode.</a>
    </div>
</body>
</html>