@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You have no privacy, the government owns you. Reject taxes, live in the woods, be Amish if you want to have any privacy</p>
