@model PartyInvites.Models.GuestRSVP
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RSVP</title>
</head>
<body>
    <div>
        This is the RSVP.cshtml View
    </div>
        <form asp-action="RSVP" method="post">
            <p>
                <label asp-for="Name">Your name:</label>
                <input asp-for="Name" />
            </p>
            <p>
                <label asp-for="Email">Your email:</label>
                <input asp-for="Email" />
            </p>
            <p>
                <label asp-for="Phone">Your phone:</label>
                <input asp-for="Phone" />
            </p>
            <p>
                <label>you comin' or nah?</label>
                <select asp-for="WillAttend">
                    <option value="">Pick one.</option>
                    <option value="true">Yes, I'm a good person with an Xbox live subscription</option>
                    <option value="false">No, I still play Nintendo Wii and my parents won't let me buy adult games. </option>
                </select>
            </p>
            <button type="submit">Submit RSVP</button>
        </form>
    </body>
</html>